@font-face {
  font-family: primary;
  src: url('../fonts/sf.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: secondary;
  src: url('../fonts/rf.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}